---
layout: default
---
<div class = "row" style = "padding-top: 20px;">
  <div class = "col-sm-12">
  </div>
</div>
<div class = "row" style = "margin-bottom: 20px;">
  
  <div class = "col-sm-6">
    <h3>Inspire, Innovate, Improve!</h3>
    
    {% include front-news.html %}
    
  </div>
  
  <div class = "col-sm-5 col-sm-offset-1">
    <div class = "row">
      <img  class = "img-responsive"
            src = "images/venue/seattle-mountain-tiffany98101-500.png"
            alt = "Seattle with a mountain in the background.
                   The mountain has snow on it.
                   A building, which might be a UFO, is in the foreground.
                   Picture CC-BY tiffany98101."/>
    </div>
    
    <div class = "row">
      <h5> Important Dates </h5>
    </div>
    {% for dead in site.data.sigcse.deadlines %}
    <div class = "row">
      <div class = "col-sm-6" style = "font-weight: bold;">
        {{dead.date}}
      </div>
      <div class = "col-sm-6">
        {% for type in dead.items %}
          {{type}}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

</div>
