---
layout: default
---
<div class = "row" style = "padding-top: 20px;">
  <div class = "col-sm-12">
  </div>
</div>
<div class = "row" style = "margin-bottom: 20px;">

  <div class = "col-sm-6">
    <h3>Inspire, Innovate, Improve!</h3>
    <h4>{{site.data.sigcse.date.month}}
    {{site.data.sigcse.date.start}} - {{site.data.sigcse.date.end}},
    {{site.data.sigcse.location.city}}, {{site.data.sigcse.location.state}},
    {{site.data.sigcse.location.country}}</h4>

<p>    
	<!-- SIGCSE 2017 welcomes colleagues from around the world to present demos, lightning talks, papers, panels, posters, special sessions, and workshops, and to discuss computer science education in birds-of-a-feather sessions and informal settings. The SIGCSE Technical Symposium addresses problems common among educators working to develop, implement and/or evaluate computing programs, curricula, and courses. The symposium provides a forum for sharing new ideas for syllabi, laboratories, and other elements of teaching and pedagogy, at all levels of instruction. -->
	
	The SIGCSE Technical Symposium is the largest computing education conference worldwide organized by ACM SIGCSE. It attracts around 1,300 researchers, educators, and others interested in improving computing education in K-12 and higher education.
</p>

	<div class = "row">
		<h5>Honorees and Speakers</h5>
		<div class = "col-sm-3 text-center">
			<b>Jeannette <br> Wing</b>
			<br>
			<img 	src = "/images/speakers/j-w-sq.jpg" 
						alt = "" 
						width = "100px"
						>
						<br>
						Some Award
						<br>
						<a href="/info/jw.html#bio">bio</a> - <a href="/info/jw.html#abstract">abstract</a>
		</div>
		<div class = "col-sm-3 text-center">
			<b>Mats <br> Daniels</b>
			<br>
			<img 	src = "/images/speakers/m-d-sq.jpg" 
						alt = "" 
						width = "100px"
						>
						<br>
						Some Award
						<br>
						<a href="/info/md.html">abstract</a> - <a href="/info/md.html#bio">bio</a>
		</div>
		<div class = "col-sm-3 text-center">
			<b>Gail <br> Chapman</b>
			<br>
			<img 	src = "/images/speakers/g-c-sq.jpg" 
						alt = "" 
						width = "100px"
						>
						<br>
						Some Award
						<br>
						<a href="/info/gc.html">abstract</a> - <a href="/info/gc.html#bio">bio</a>
		</div>
		<div class = "col-sm-3 text-center">
			<b>Mitchel <br> Resnick</b>
			<img 	src = "/images/speakers/m-r-sq.jpg" 
						alt = "" 
						width = "100px"
						>
						<br>
						Some Award
						<br>
						<a href="/info/mr.html#abstract">abstract</a> - <a href="/info/mr.html#bio">bio</a>
		</div>
	</div>

    <div class = "alert alert-success" style="margin-top: 0.5em">
      <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> <a href = "{{ '/docs/sigcse2017-draft-program.pdf' | prepend: site.baseurl }}">Preliminary program (PDF)</a>
    </div>

  <div class = "row">
    <div class = "col-md-12">
      <h4>News</h4>
      {% include front-news.html %}
    </div>
  </div>
  </div>

  <div class = "col-sm-5 col-sm-offset-1">
    <div class = "row">
      <img  class = "img-responsive"
            src = "images/venue/seattle-mountain-tiffany98101-500.png"
            alt = "Seattle with a mountain in the background.
                   The mountain has snow on it.
                   A building, which might be a UFO, is in the foreground.
                   Picture CC-BY tiffany98101."/>
    </div>

    <div class = "row">
      <h5> Sponsors </h5>
    </div>

		<table width = "100%" style = "margin-bottom: 20px;">
			{% for level in site.data.sponsors %}
			<tr>
				<td>
					<b>{{level[0]}}</b>
				</td>
				<td> &nbsp; </td>
				{% for logo in level[1] %}
					<td>
						<img src="images/sponsors/100s/{{logo.image}}">
					</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>

<!--
    {% for dead in site.data.sigcse.deadlines %}
    <div class = "row">
      <div class = "col-sm-6" style = "font-weight: bold;">
        {{dead.date}}
      </div>
      <div class = "col-sm-6">
        {% for type in dead.items %}
          {{type}}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
-->
		
  </div>

</div>
