
<ul>

  <li>
    <strong>Aug 20th</strong>:
    An <a href = "{{ '/reviewers/review-process.html' | prepend: site.baseurl }}">improved review process</a> takes the stage at SIGCSE 2017.
  </li>

  <li>
    <strong>Aug 3rd</strong>:
    When you're ready to submit, <a href="https://easychair.org/conferences/?conf=sigcse2017">EasyChair awaits</a>.
  </li>

  <li>
    <strong>Jul 28th</strong>:
    <a href="{{ 'authors/index.html' | prepend: site.baseurl }}">Guidelines for submissions</a> posted.
  </li>

  <li>
    <strong>Jul 20th</strong>:
    Reminder of <a href="{{ '/info/cfp.html' | prepend: site.baseurl }}">CFP</a> and due dates posted.
  </li>

  <li>
    <strong>Jun 14th</strong>:
      <a href="{{ '/info/cfp.html' | prepend: site.baseurl }}">Call for participation</a> is posted.
  </li>

</ul>
