<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>

  <link rel = "stylesheet" href = "{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel = "stylesheet" href = "{{ "/css/site-overrides.css" | prepend: site.baseurl }}">
  
  <script type = "text/javascript" src = "{{ '/js/jquery-2.2.4.min.js' | prepend: site.baseurl }}"></script>
  
  <script type = "text/javascript" src = "{{ '/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
</head>
